@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


.teamouter {
    background-color: #2e4f4f;
    padding-bottom: 4%;
}

.row {
    text-align: justify;
    padding-left: 7%;
    padding-right:7%;
    font-family: 'Roboto', sans-serif;
    color: #faedcd;
}

.row h3{
    text-align: left;
    padding-top:4%;
    text-decoration: underline;
}

.row p{
    padding-top: 2%;
    padding-right:5%
}

.teaminfo {
    padding-top:4%;
}

.teaminfo img{
    box-shadow: 10px 10px 10px #212529;
}