{% extends 'header_footer.html' %}
{% load static %}

{% block title %}
<title>About | Fiores Global</title>
{% endblock %}

{% block sitecontent %}
    <section id="about-us" class="about-us md:mt-[13vh]">
        <div class="about-wrapper w-screen max-h-max flex flex-col justify-center items-center mb-10 gap-10">
            <div id="about-us-box"
                class="about-us-box lg:w-3/4 lg:min-h-max bg-slate-200 mt-10 flex flex-col justify-start items-center rounded shadow-2xl">
                <div class="my-10 w-full h-full flex flex-col justify-start items-center">
                    <h2 class="text-4xl mt-10 mb-10">Venture Builder</h2>
                    <p class="w-screen px-4 pb-10 lg:w-4/5 text-sm md:text-lg text-justify">
                        FIORES is a multinational project where young entrepreneurs come together and work on Start-Ups.
                        This
                        project, which does not focus on a specific sector, determines the gaps in the markets with
                        respect
                        to
                        analyzes of the different parameters such as market research and risk analysis, brings together
                        the
                        appropriate team and starts its work. This project, which carries out studies in different
                        fields,
                        mainly focused on software and international trade.

                    </p>
                </div>
            </div>
            <div id="about-us-box"
                class="about-us-box lg:w-3/4 lg:min-h-max bg-slate-200 mt-10 flex flex-col justify-start items-center rounded shadow-2xl">
                <div class="my-10 w-full h-full flex flex-col justify-start items-center">
                    <h2 class="text-4xl mt-10 mb-10">Vision</h2>
                    <p class="w-screen px-4 pb-10 lg:w-4/5 text-sm md:text-lg text-justify">
                        To take a share from the world market in different sectors, to be a pioneer in innovation by
                        finding
                        problems and developing constructive solutions to them. To shift world trade to young people who
                        are
                        much more open to research and questioning, much more dynamic and much more knowledgeable in
                        technology.

                    </p>
                </div>
            </div>
            <div id="about-us-box"
                class="about-us-box lg:w-3/4 lg:min-h-max bg-slate-200 mt-10 flex flex-col justify-start items-center rounded shadow-2xl">
                <div class="my-10 w-full h-full flex flex-col justify-start items-center">
                    <h2 class="text-4xl mt-10 mb-10">Values</h2>
                    <p class="w-screen px-4 pb-10 lg:w-4/5 text-sm md:text-lg text-justify">
                        Respect for life and the human being, in all its expressions and stages freedom, cooperation,
                        ethical entrepreneurship as a generator of global wealth, standardization and efficiency in
                        obtaining and expenditure of common resources.
                    </p>
                </div>
            </div>

            <div id="about-us-box" class="about-us-box lg:w-3/4 lg:min-h-max bg-slate-200 mt-10 rounded shadow-2xl">

                <div class="my-10 w-full h-full flex flex-col justify-start items-center">
                    <h2 class="text-4xl mt-10 mb-10">Legal Form</h2>
                    <p class="w-screen px-4 pb-10 lg:w-4/5 text-sm md:text-lg text-justify">
                        It will be a “Türkiye Based Venture Building Project” with its subsidiaries in other countries,
                        made
                        up
                        of different partners: the directors of FIORES, the industrial partners, and the investment
                        partners.
                        The participation of each partner and it's corresponding annual the benefit will be determined
                        by
                        the
                        degree of participation in the development of FIORES and our projects.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}