{% extends 'header_footer.html' %}
{% load static %}

{% block title %}
<title>Projects | Fiores Global</title>
{% endblock %}

{% block sitecontent %}

    <!-- Projects Header-->
    <section id="projects"
        class="projects h-min lg:h-max w-screen bg-white md:pt-[13vh] flex flex-col justify-start items-center">
        <div class="main-banner lg:max-w-[80vw]">
            <div class="header-banner w-full my-10">
                <h1 id="project-header" class="px-10 pb-5 text-4xl text-green-950">Projects</h1>
                <p class="px-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore qui placeat culpa ad
                    reprehenderit ab
                    voluptatum odit aperiam similique vero explicabo dignissimos dicta ratione officia, ducimus sint
                    laboriosam repellat accusamus!</p>
            </div>

            <!-- Projects -->

            {% for project in projects %}

            <div class="projects-banner px-10 my-10">

                <div class="flex justify-start items-center gap-6 pb-5">
                    {% load cropping %}
                    <img src="{% cropped_thumbnail project "croppinglogo" scale=0.5 %}" class="w-10 lg:w-24" alt="">
                    <!--<img src="{{project.logo.url}}" class="w-10 lg:w-24" alt="">-->
                    <h2 class="text-green-950 text-3xl lg:text-5xl">{{project.title}}</h2>
                </div>
                <div>
                    <p>{{project.description}}</p>
                    {% if project.projecturl|length > 0 %}
                    <a class="text-blue-700" href="{{project.projecturl}}" target="_blank"
                        rel="noopener noreferrer">{{project.projecturl}}</a>
                    {% endif %}
                    <div class="flex flex-col md:flex-row px-10" class="md:mb-20">
                        {% load cropping %}
                        <img class="md:w-1/2" src="{% cropped_thumbnail project "croppingimage1" scale=0.5 %}" alt="">
                        <img class="md:w-1/2" src="{% cropped_thumbnail project "croppingimage2" scale=0.5 %}" alt="">
                        <!--<img class="md:w-1/2" src="{{project.image1.url}}" alt="">-->
                        <!--<img class="md:w-1/2" src="{{project.image2.url}}" alt="">-->
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>

    </section>

{% endblock %}