{% extends 'header_footer.html' %}
{% load static %}

{% block title %}
<title>Team | Fiores Global</title>
{% endblock %}

{% block sitecontent %}

    <!-- TEAM // Leadership -->

    <section id="team-leadership" class="team-leadership h-max w-screen bg-slate-200 md:mt-[13vh]">
        <div class="bg-white py-24 sm:py-32">
            <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
                <div class="max-w-2xl">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet our leadership</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">We love to create, design and inovate...</p>
                </div>
                <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
                {% for member in members %}
                {% if member.group == "Leadership"%}
                    <li>
                        <div class="flex flex-col md:flex-row items-center gap-x-6">
                            {% load cropping %}
                            <img class="h-44 w-44 object-cover rounded" src="{% cropped_thumbnail member "cropping" scale=0.5 %}" alt="{{member.name}}">
                            <div>
                                <h3 class="text-base w-44 font-semibold leading-7 tracking-tight text-gray-900">
                                {{member.name}}
                                </h3>
                                <p class="text-sm font-semibold leading-6 text-indigo-600">{{member.position}}</p>
                                <a href="{{member.linkedin}}" target="_blank"
                                    rel="noopener noreferrer"><i
                                        class="fa-brands fa-linkedin text-3xl transition ease hover:text-blue-600 duration-200"></i></a>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- TEAM // Red -->


        <div class="bg-white py-24 sm:py-32">
            <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
                <div class="max-w-2xl">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Red Group</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600 text-justify">The Red Group was built as a structure
                        that examines
                        the basic structures of countries by conducting research, prepares reports in line with the data
                        it has obtained, and provides the necessary connections and equipment to get a share from the
                        selected markets by taking these reports into consideration. The first step in research is the
                        history of the countries. Entering a market that you do not know about its history, culture and
                        ethnic structure is one of the biggest mistakes that can be made. Researches include projects
                        planned or realized on a country basis, investments, import and export rates, signed agreements,
                        relations with neighboring countries and many other structures. FIORES is not a political
                        project, it does not and will not do politics.</p>
                </div>
                <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
                {% for member in members %}
                {% if member.group == "Red Group"%}
                    <li>
                        <div class="flex flex-col md:flex-row items-center gap-x-6">
                            {% load cropping %}
                            <img class="h-44 w-44 object-cover rounded" src="{% cropped_thumbnail member "cropping" scale=0.5 %}" alt="{{member.name}}">
                            <div>
                                <h3 class="text-base w-44 font-semibold leading-7 tracking-tight text-gray-900">
                                {{member.name}}
                                </h3>
                                <p class="text-sm font-semibold leading-6 text-indigo-600">{{member.position}}</p>
                                <a href="{{member.linkedin}}" target="_blank"
                                    rel="noopener noreferrer"><i
                                        class="fa-brands fa-linkedin text-3xl transition ease hover:text-blue-600 duration-200"></i></a>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- TEAM // Blue -->
        <div class="bg-white py-24 sm:py-32">
            <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
                <div class="max-w-2xl">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Blue Group</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600 text-justify">Working on health technologies, the
                        Blue group works
                        to develop different solutions for 3D modeling in the health sector. The aim of the young and
                        dynamic team consisting of geomatic engineers and software engineers is to provide serial
                        software support to hospitals and clinics around the world at low prices and to offer new
                        technological solutions to the world by conducting R&D studies.</p>
                </div>
                <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
                {% for member in members %}
                {% if member.group == "Blue Group"%}
                    <li>
                        <div class="flex flex-col md:flex-row items-center gap-x-6">
                            {% load cropping %}
                            <img class="h-44 w-44 object-cover  rounded" src="{% cropped_thumbnail member "cropping" scale=0.5 %}" alt="{{member.name}}">
                            <div>
                                <h3 class="text-base w-44 font-semibold leading-7 tracking-tight text-gray-900">
                                {{member.name}}
                                </h3>
                                <p class="text-sm font-semibold leading-6 text-indigo-600">{{member.position}}</p>
                                <a href="{{member.linkedin}}" target="_blank"
                                    rel="noopener noreferrer"><i
                                        class="fa-brands fa-linkedin text-3xl transition ease hover:text-blue-600 duration-200"></i></a>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- TEAM // CITY -->

        <div class="bg-white py-24 sm:py-32">
            <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
                <div class="max-w-2xl">
                    <div class="flex items-center gap-6">
                        <img src="{% static 'imgs/CITY LOGO YAZISIZ.png' %}" alt="City Logo" class="w-20">
                        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                            CITY</h2>
                    </div>
                    <p class="mt-6 text-lg leading-8 text-gray-600 text-justify">This team is working on a super
                        application that can
                        be integrated into universities. This application offers university students a good experience
                        in the economic, social and cultural fields thanks to various interfaces. It will be integrated
                        into universities in the coming months together with the marketing team.

                    </p>
                </div>
                <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
                {% for member in members %}
                {% if member.group == "City"%}
                    <li>
                        <div class="flex flex-col md:flex-row items-center gap-x-6">
                            {% load cropping %}
                            <img class="h-44 w-44 object-cover rounded" src="{% cropped_thumbnail member "cropping" scale=0.5 %}" alt="{{member.name}}">
                            <div>
                                <h3 class="text-base w-44 font-semibold leading-7 tracking-tight text-gray-900">
                                {{member.name}}
                                </h3>
                                <p class="text-sm font-semibold leading-6 text-indigo-600">{{member.position}}</p>
                                <a href="{{member.linkedin}}" target="_blank"
                                    rel="noopener noreferrer"><i
                                        class="fa-brands fa-linkedin text-3xl transition ease hover:text-blue-600 duration-200"></i></a>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>

            </div>
        </div>

    </section>

{% endblock %}