.footer {
    /* border:solid #000000; */
    text-align: center;
    background-color: #000000;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer i {
    color:white;
    font-size:40px;
    padding:0.5%;
    transition: color 800ms;
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-github:hover {
    /* color: #333; */
    color: #c9510c;
}

.fa-envelope:hover {
    color: #e34033;
}