@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

.swiper-pagination-bullet::before {
  content: "";
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  margin-left: -0.5rem;
  margin-top: -0.875rem;
  z-index: 0;
}

.toggled-navbar {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.toggled-navbar.show {
  transform: translateX(0);
}


.swiper-pagination-bullet {
  @apply bg-slate-950 w-8 h-1.5 rounded;}

.swiper-pagination-bullet-active {
  @apply bg-slate-300;
}


.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px; 
    height: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: currentColor;
  font-size: 3rem;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}


.swiper-button-next,
.swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  z-index: 50;
}



.fadeOut {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  

.mySwiper.swiper-slide {
    position: relative;
    z-index: 1;
    opacity: 0;
  transition: opacity 0.5s ease-out;
  position: absolute;
  }
  
.mySwiper.swiper-slide-active {
    z-index: 2;
    opacity: 1;
  transition: opacity 0.5s ease-in;
  position: relative;
  }

  
  
@media screen and (max-width: 768px) {
.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: currentColor;
  font-size: 1.5rem;
}


.swiper-pagination-bullet {
  @apply w-6 h-1.5 rounded;}
}


