{% extends 'header_footer.html' %}
{% load static %}

{% block loadlinks %}
<link rel="stylesheet" href="{% static 'CompanyApp/css/about.css' %}">
{% endblock %}

{% block title %}
<title>About Us | Fiores Global</title>
{% endblock %}

{% block sitecontent %}
    <!-- ABOUT -->
    <div class="container-fluid aboutouter">
        {% for item in about %}
        <div class="container aboutinner">
            <h2>{{item.title}}</h2>
            <p>
                {{item.text}}
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}