{% extends 'header_footer.html' %}
{% load static %}

{% block loadlinks %}
<link rel="stylesheet" href="{% static 'CompanyApp/css/contact.css' %}">
{% endblock %}

{% block title %}
<title>Contact Us | Fiores Global</title>
{% endblock %}

{% block sitecontent %}
  <!-- CONTACT FORM -->
  <div class="container-fluid contactouter">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 contactinner">
            <form action="" method="POST">
              {% csrf_token %}
                <label for="fname">Full Name</label>
                <input type="text" id="fname" name="fullname" placeholder="Your Name" required>
            
                <label for="email">Email Address</label>
                <input type="email" id="email" name="emailaddress" placeholder="you@email.com" required>
            
                <label for="message">Message</label>
                <textarea id="message" name="message" placeholder="Write a Message" required></textarea>
            
                <input type="submit" value="Submit">
            
              </form>
        </div>
        <div class="col-sm-3"></div>
      </div>
  </div>
{% endblock %}
