{% extends 'header_footer.html' %}
{% load static %}

{% block loadlinks %}
<link rel="stylesheet" href="{% static 'CompanyApp/css/index.css' %}">
{% endblock %}

{% block title %}
<title>FIORES GLOBAL</title>
{% endblock %}

{% block sitecontent %}
    <!-- SLIDER -->
    <div id="fg-slider" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          {% for i in count %}
          <button type="button" data-bs-target="#fg-slider" data-bs-slide-to="{{i}}" class="{% if forloop.first %}active{% endif %}"></button>
          {% endfor %}
        </div>
        
        <div class="carousel-inner">
          {% for img in sliderImgs %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="2500">
            <img src="{{img.sliderImg.url}}" alt="fg-img1" class="d-block" style="width:100%">
            <div class="carousel-caption">
                {% comment %} <h3>UNO</h3>
                <p>FG Caaaaaaaaaaaaaaption!</p> {% endcomment %}
            </div>
          </div>
          {% endfor %}
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#fg-slider" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#fg-slider" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
      
      <!-- Site Content -->
      
      <div class="container-fluid">
        <div class="row">
            <div id="row1" class="col-sm-6 p-3">
                <div class="container-fluid rowdata">
                    <h1>Our Story</h1>
                    <p>{{story}}</p>
                    <p id="readmore" style="float:right"><a href="{% url 'CompanyApp:story' %}">Read More</a></p>
                </div>
            </div>
            <div id="row2" class="col-sm-6 p-3">
                <div class="container-fluid rowdata" style>
                    <h2>{{homeColumn2.title}}</h2>
                    <p>{{homeColumn2.text}}</p>
                </div>
            </div>
        </div>
      </div>
{% endblock %}