{% extends 'index.html' %}


{% block navigation %}
    <div class="container-fluid navigate">
      <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'CompanyApp:index' %}"><span>Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'CompanyApp:about' %}"><span>About Us</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'CompanyApp:projects' %}"><span>Our Projects</span></a>
          </li>
          <li class="nav-item show">
              <a class="nav-link" href="{% url 'CompanyApp:team' %}"><span class="show">Team</span></a>
            </li>
            <li class="nav-item show">
              <a class="nav-link" href="{% url 'CompanyApp:story' %}"><span class="show">Story</span></a>
            </li>
            {% comment %} <li class="nav-item show">
              <a class="nav-link" href="#"><span class="show">Blog</span></a>
            </li> {% endcomment %}
          <li class="nav-item dropdown hide">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">More</a>
              <ul class="dropdown-menu">
              <li>
                  <a class="nav-link" href="{% url 'CompanyApp:team' %}"><span>Team</span></a>
              </li>
              <li>
                  <a class="nav-link" href="{% url 'CompanyApp:story' %}"><span>Story</span></a>
              </li>
              {% comment %} <li>
                  <a class="nav-link" href="#"><span>Blog</span></a>
              </li> {% endcomment %}
              </ul>
          </li>
      </ul>
  </div>

  {% endblock %}