{% extends 'header_footer_company.html' %}
{% load static %}

{% block loadlinks %}
<link rel="stylesheet" href="{% static 'CompanyApp/css/projects.css' %}">
{% endblock %}

{% block title %}
<title>Projects | Corp</title>
{% endblock %}

{% block sitecontent %}
    <!-- PROJECTS -->
    <div class="container-fluid teamouter">
        <div class="row">
            {% for item in projects %}
            <div class="col-sm-6 teaminfo">
                <img class="img-fluid" src="{{ item.picture.url}}" />
                <h3>{{item.title}}</h3>
                <p>
                    {{item.text}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}