{% extends 'header_footer_company.html' %}
{% load static %}

{% block loadlinks %}
<link rel="stylesheet" href="{% static 'CompanyApp/css/team.css' %}">
{% endblock %}

{% block title %}
<title>Team | Corp</title>
{% endblock %}

{% block sitecontent %}
    <!-- TEAM -->
    <div class="container-fluid teamouter">


        {% for g in groups %}
        <div class="container-fluid">
            <div class="row logoInfo">
                <div class="col-sm-4 groupLogo">
                    <img class="img-fluid" src="{{g.picture.url}}">
                </div>
                <div class="col-sm-8 groupInfo">
                    <h1>{{g.group_name}}</h1>
                    <p>
                        {{g.text}}
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid teamMembers">
            <div class="row">
                {% for member in members %}
                {% if member.group_name.group_name == g.group_name %}
                <div class="col-sm-4">
                    <img class="img-fluid" src="{{ member.picture.url}}" />
                    <div class="container-fluid memberInfo">
                        <h5>{{member.name}}</h5>
                        <p style="padding-left:5%; margin-bottom:0%">{{member.position}}</p>
                        {% if member.LinkedinURL|length > 0 %}
                        <a style="padding-left:5%;" href="{{member.LinkedinURL}}"><img class="img-fluid" src="{% static 'CompanyApp/imgs/30x30.png' %}" /></a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}