@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


.teamouter {
    display:inline-block;
    background-color: #2e4f4f;
    padding-bottom: 3%;
}

.teamGlob {
    /* border:solid; */
    text-align: center;
    margin:4% 4%;
}

.teamGlob img {
    /* border:solid; */
    border-width:10px;
    border-radius: 50%;
    border-color: #573c11;
}

.teamMembers {
    /* border:solid; */
    background-color: #2e4f4f;
}

.row {
    /* border:solid;*/
    background-color: #ffffff;
    text-align: center;
    margin-left:3% !important;
    margin-right:3% !important;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 25px;
}

.memberInfo {
    position: relative;
    background-color: #ffffff;
    text-align: left;
    width:65% !important;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: -7%;
    margin-bottom:1%;
    margin-left: 35% !important;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    box-shadow: 7px 7px 10px;
    border-radius: 25px;
    word-break:break-all;
}

.memberInfo p {
    font-style: italic;
    color: blue;
}

.logoInfo {
    background-color: #2e4f4f;
}

.groupLogo {
    padding-left:10% !important;
}

.groupInfo {
    text-align: justify;
    padding-right:15% !important;
    font-family: 'Roboto', sans-serif;
    color: #faedcd;
}

.groupInfo h1{
    margin-bottom: 3%;
}